<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Messageboard</title>
  </head>
  <body>
    <h1>Messageboard</h1>
    <form action="/new" method="get">
      <button type="submit">Add new message</button>
    </form>
    <ol>
      <% messages.forEach((message, index) => { %>
      <li>
        Message: <%= message.text %><br />
        Sent by: <%= message.user %><br />
        Time: <%= message.added %><br />
      </li>
      <form action="/message/<%= index %>" method="get" style="display: inline">
        <button type="submit">View</button>
      </form>
      <% }) %>
    </ol>
  </body>
</html>
