<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Messageboard</title>
  </head>
  <body>
    <h1>Messageboard</h1>
    <ol>
      <% messages.forEach(message => { %>
      <li>
        Message: <%= message.text %><br />
        Sent by: <%= message.user %><br />
        Date: <%= message.added %><br />
      </li>
      <% }) %>
    </ol>
  </body>
</html>
